
.ant-form-item-label {
    text-align: left!important;
}

.ant-form-item {
    padding-right: 20px!important;
}

.street-input {
    margin-bottom: 12px!important;
}

.first-name {
    padding-left: 0!important;  
}

.last-name {
    padding-right: 0!important;
}